@font-face {
    font-family: "APJapanesefont";
    src: url("../fonts/APJapanesefont.ttf") format("TrueType");
}

a {
    text-decoration: none;
}

body{
  background-color: ivory;
}
/*start*/
.startGo{
  color: #FFFFFF;
  background-color: #35af5f;
  font-family: "APJapanesefont";
  font-size: 30px;
  border-radius: 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border-style: dashed;
  border-color: #757a7d;
  border-width: 2px 2px;
  padding: 10px 10px;
  margin-top: 100%;
}
.white{
    color: #FFFFFF;
}
/*menu*/
.continueGo{
  background-color: #35af5f;
  font-family: "APJapanesefont";
  font-size: 30px;
  border-radius: 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border-style: dashed;
  border-color: #757a7d;
  border-width: 2px 2px;
  padding: 10px 10px;
  margin-top: 40%;
}
.newGo{
  background-color: #4285f4;
  font-family: "APJapanesefont";
  font-size: 30px;
  border-radius: 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border-style: dashed;
  border-color: #757a7d;
  border-width: 2px 2px;
  padding: 10px 10px;
  margin-top: 50%;
}