@font-face {
    font-family: "APJapanesefont";
    src: url("../fonts/APJapanesefont.ttf") format("TrueType");
}

a {
    text-decoration: none;
}

body{
  background-color: ivory;
}

::placeholder{
  font-family: "APJapanesefont";
  text-align: center;
  color: #b5b4ac;
}

/*start*/
.startGo{
  color: #FFFFFF;
  background-color: #35af5f;
  font-family: "APJapanesefont";
  font-size: 30px;
  border-radius: 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border-style: dashed;
  border-color: #757a7d;
  border-width: 2px 2px;
  padding: 10px 10px;
  margin-top: 100%;
}
.white{
    color: #FFFFFF;
}
/*menu*/
.continueGo{
  background-color: #35af5f;
  font-family: "APJapanesefont";
  font-size: 30px;
  border-radius: 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border-style: dashed;
  border-color: #757a7d;
  border-width: 2px 2px;
  padding: 10px 10px;
  margin-top: 40%;
}
.newGo{
  background-color: #4285f4;
  font-family: "APJapanesefont";
  font-size: 30px;
  border-radius: 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border-style: dashed;
  border-color: #757a7d;
  border-width: 2px 2px;
  padding: 10px 10px;
  margin-top: 50%;
}
/*new*/
.newNotion{
  color: #fc9308;
  font-family: "APJapanesefont";
  font-size: 38px;
  border-radius: 10px;
  border-color: #757a7d;
  border-style: dashed;
  border-width: 1px 1px;
  text-align: center;
  margin-top: 12%;
  margin-left: auto;
  margin-right: auto;
}
.newGuide{
  font-family: "Yu Gothic UI Light";
  font-size: 18px;
  text-align: center;
  margin-top: 0%;
  margin-left: auto;
  margin-right: auto;
  color: #757a7d;
}
.titleNew{
  font-family: "Yu Gothic UI Light";
  font-size: 20px;
  text-align: center;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  color: #757a7d;
}
.passSet{
  font-family: "Yu Gothic UI Light";
  font-size: 20px;
  text-align: center;
  margin-top: 0%;
  margin-left: auto;
  margin-right: auto;
  color: #757a7d;
}
.newName{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.newPass{
  font-family: "Yu Gothic UI Light";
  font-size: 20px;
  text-align: center;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  color: #757a7d;
}
.newInp{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
/*new_input*/
.formNew{
  font-family: "Yu Gothic UI";
  font-size: 23px;
  width: 90%;
  height: 28px;
  border-radius: 10px;
  border-color: #757a7d;
  border-style: dashed;
  border-width: 1px 1px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.newLog{
  width: 90%;
  height: 25px;
  border-radius: 10px;
  border-color: #757a7d;
  border-style: dashed;
  border-width: 1px 1px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0%;
}
/*new_button*/
.preNew{
  font-family: "Yu Gothic UI";
  font-size: 100%;
  color: white;
  margin-top: 7%;
  background-color: #35af5f;
  border-style: solid;
  border-color: #35af5f;
  border-radius: 5px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
/*login*/
.loginNotion{
  color: #ec4d3d;
  font-family: "APJapanesefont";
  font-size: 38px;
  border-radius: 10px;
  border-color: #757a7d;
  border-style: dashed;
  border-width: 5px 5px;
  text-align: center;
  margin-top: 15%;
  margin-left: auto;
  margin-right: auto;
}
.titleLogin{
  font-family: "Yu Gothic UI Light";
  font-size: 30px;
  margin-top: 20%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #757a7d;
}
.loginName{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.preLogin{
  font-family: "Yu Gothic UI";
  font-size: 50px;
  height: 100px;
  color: white;
  margin-top: 5%;
  background-color: #35af5f;
  border-style: solid;
  border-color: #35af5f;
  border-radius: 5px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}
.passInp{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
/*login_input*/
.formLogin{
  font-family: "Yu Gothic UI";
  font-size: 80px;
  width: 90%;
  height: 100px;
  border-radius: 10px;
  border-color: #757a7d;
  border-style: dashed;
  border-width: 1px 1px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.loginGo{
  width: 90%;
  height: 100px;
  font-size: 80px;
  border-radius: 10px;
  border-color: #757a7d;
  border-style: dashed;
  border-width: 1px 1px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
/*input_end*/
.inpFix{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}