<div class="imagelist">
  <img src="/back.png" class="useimage">
  <img src="/use1.png" class="usecomment1">
</div>
<div class="exalist">
  <%= link_to"つぎへ", {:controller => 'example', :action => 'recordimage'}, {:style => "color: #ffffff;"} %>
</div>