<head>

</head>
<body>
<h1 class="recordPageTitle">すすめたページすうを<br>きろくしよう</h1><br>
<div>
  <h1 class="subRecordTit">※
    <%# <ruby> %>
      <%# <rb>半</rb><rt>はん</rt> %>
      <%# <rb>角</rb><rt>かく</rt> %>
      <%# <rb>数</rb><rt>すう</rt> %>
      <%# <rb>字</rb><rt>じ</rt> %>
    <%# </ruby> %>
    はんかくすうじ
    で<br>にゅうりょくしてください
  </h1><br>
  <h1 class="subRecordNum">
    <ruby>
      <rb>例</rb><rt>れい</rt>
    </ruby>
    :1 2 3 ... 10
  </h1>
</div>
<%= form_tag('/records/recordcreate') do %>
  <div class="numPage">
    <input name="pageNumber" class="inpNumPage" style="" placeholder="(例) 3">
  </div>
  <div class="numPageFix">
    <input class="pageConfirm" type="submit" value="OK!">
  </div>
<% end %>

</body>