<head>

</head>
<body>
<h1 class="wellTitle">よくできました！</h1>
<!--<a href="/top">
  <h1 class="wellBack">ホームにもどる</h1>
</a>-->
<div class="wellBack">
  <%= link_to"ホームにもどる", {:controller => 'home', :action => 'top'}, {:style => "color: #35af5f;"} %>
</div>
</body>