<head>

</head>
<body>
<h1 class="wellTitle">よくできました！</h1>
<div class="wellBack">
  <%= link_to"ホームにもどる", {:controller => 'records', :action => 'recordBack'}, {:style => "color: #35af5f;"} %>
</div>
</body>