<head>

</head>
<body>
<h1 class="recordPageTitle">すすめたページすうを<br>きろくしよう</h1>
<%= form_tag('/records/recordcreate') do %>
  <div class="numPage">
    <input name="pageNumber" class="inpNumPage" style="" placeholder="(例) 3">
    <input class="pageConfirm" type="submit" value="OK!">
  </div>
<% end %>

</body>