<head>

</head>
<body>
  <h1 class="titleRegister">べんきょうどうぐを<br>とうろくしよう</h1>
  <%= form_tag() do %>
    <div class="forms">
      <input class="formRegister" style="" placeholder="(例)さんすうのきょうかしょ">
      <input type="submit" value="つぎへ" class="preWords">
    </div>
  <% end %>
</body>