<head>

</head>
<body>
<div class="continueGo">
  <%= link_to "つづきから", {:controller => 'home', :action => 'login'}, {:style => "color: #ffffff;"} %>
</div>
<div class="newGo">
  <%= link_to"はじめから", {:controller => 'home', :action => 'new'}, {:style => "color: #ffffff;"} %>
</div>
</body>