<head>

</head>
<body>
<!-- <script type="text/javascript">
    $(document).ready(function() {
        $("p").css("color", "red");
    });
</script>
<p>Hello World!</p> -->
<h1></h1>
<div class="startGo">
  <%= link_to"はじめる", {:controller => 'home', :action => 'menu'}, {:style => "color: #ffffff;"} %>
</div>
</body>

