<head>

</head>
<body>
  <div>
    <h1 class="toplist goal">もくひょうをきめる</h1>
    <h1 class="toplist record">きろくする</h1>
    <h1 class="toplist check">かくにんする</h1>
    <h1 class="toplist forParents">つかいかた</h1>
  </div>
</body>
