<head>

</head>
<body>
  <div>
    <a href="/goals/goaldecision">
      <h1 class="toplist goal">もくひょうをきめる</h1>
    </a>
    <a href="/records/recordimage">
      <h1 class="toplist record">きろくする</h1>
    </a>
    <a href="/check/checklist">
      <h1 class="toplist check">かくにんする</h1>
    </a>
    <h1 class="toplist forParents">つかいかた</h1>
  </div>
</body>
