<head>

</head>
<body>
<%= form_tag('/goals/goalcreate') do %>
  <h1 class="titleRegister">べんきょうどうぐを<br>とうろくしよう</h1>
  <div class="goalForms">
    <input name="content" class="formRegister" style="" placeholder="(例)さんすうのきょうかしょ">
  </div>
  <h1 class="pageRegister">１にちで<br>すすめるページすうを<br>きめよう</h1>
  <div class="numForms">
    <input name="number" class="numRegister" style="" placeholder="(例) 3">
    <input class="preWords" type="submit" value="とうろく">
  </div>
<% end %>
</body>