<head>

</head>
<body>
<h1 class="titleConfirm">とうろくできました！</h1>
  <div>
    <h1 class="nontoplist">もくひょうをきめる</h1>
    <div class="confirmList1">
      <h1 class="bodyconfirm1">から、</h1><br>
    </div>
    <div class="confirmList2">
      <h1 class="bodyconfirm2">もくひょうを<br>いつでもたしかめられるよ</h1>
    </div>
  </div>
  <a href="/top">
    <h1 class="backTop">ホームにもどる</h1>
  </a>
</body>