// Place all the styles related to the goals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.titleRegister{
  font-family: "APJapanesefont";
  font-size: 30px;
  text-align: center;
  margin-top: 12%;
  margin-left: auto;
  margin-right: auto;
  color: #fc9308;
}
.pageRegister{
  font-family: "APJapanesefont";
  font-size: 28px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  color: #fc9308;
}

/*input欄*/
.formRegister{
  color: #757a7d;
  width: 90%;
  height: 28px;
  font-family: "APJapanesefont";
  font-size: 18px;
  border-radius: 10px;
  border-color: #757a7d;
  border-style: dashed;
  border-width: 1px 1px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.numRegister{
  color: #757a7d;
  width: 90%;
  height: 25px;
  font-family: "APJapanesefont";
  font-size: 18px;
  border-radius: 10px;
  border-color: #757a7d;
  border-style: dashed;
  border-width: 1px 1px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
/*input欄終わり*/
.goalForms{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.numForms{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
::placeholder{
  font-family: "APJapanesefont";
  text-align: center;
  color: #b5b4ac;
}
.preWords{
  font-family: "APJapanesefont";
  font-size: 100%;
  color: white;
  margin-top: 5%;
  background-color: #35af5f;
  border-style: solid;
  border-color: #35af5f;
  border-radius: 5px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.titleConfirm{
  font-family: "APJapanesefont";
  font-size: 28px;
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
  color: #fc9308;
}
.nonTopList{
  color: #ec4d3d;
  width: 42%;
  font-family: "APJapanesefont";
  font-size: 13px;
  border-radius: 5px;
  text-align: center;
  border-style: dashed;
  border-color: black;
  border-width: 1px 1px;
  padding: 3px 3px;
  margin-top: 22%;
  margin-left: 23%;
  margin-bottom: 0%;
  line-height: 80%;
}
.bodyConfirm1{
  color: #757a7d;
  font-family: "APJapanesefont";
  font-size: 18px;
  margin-top: 0%;
  margin-left: 70%;
  margin-right: 10%;
  margin-bottom: 0%;
  line-height: 5%;
}

.bodyConfirm2{
  color: #757a7d;
  font-family: "APJapanesefont";
  font-size: 22px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0%;
}
.confirmList1{
  line-height: 20%;
}
.confirmList2{
  line-height: 120%;
}
.backTop{
  font-family: "APJapanesefont";
  font-size: 30px;
  border-radius: 5px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border-style: dashed;
  border-color: #757a7d;
  border-width: 1px 1px;
  padding: 10px 10px;
  margin-top: 30%;
}
.wellTitle{
  color: #ff96ff;
  font-family: "APJapanesefont";
  font-size: 36px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40%;
}
.wellBack{
  color: #35af5f;
  font-family: "APJapanesefont";
  font-size: 30px;
  border-radius: 5px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border-style: dashed;
  border-color: #757a7d;
  border-width: 1px 1px;
  padding: 10px 10px;
  margin-top: 25%;
}
.listContent{
  color: #757a7d;
  font-family: "APJapanesefont";
  font-size: 30px;
  border-radius: 5px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border-style: solid;
  border-color: #b5b4ac;
  border-width: 1px 1px;
  padding: 10px 10px;
}
.listNum{
  color: #4285f4;
  font-family: "APJapanesefont";
  font-size: 30px;
  border-radius: 5px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border-style: solid;
  border-color: #b5b4ac;
  border-width: 1px 1px;
  padding: 10px 10px;
}
.listBack{
  font-family: "APJapanesefont";
  font-size: 30px;
  border-radius: 5px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border-style: dashed;
  border-color: #757a7d;
  border-width: 1px 1px;
  padding: 10px 10px;
  margin-top: 20%;
}