// Place all the styles related to the goals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.titleRegister{
  font-family: "APJapanesefont";
  font-size: 125px;
  text-align: center;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  color: #fc9308;
}
.pageRegister{
  font-family: "APJapanesefont";
  font-size: 90px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  color: #fc9308;
}
.subGoalTit{
  font-family: "APJapanesefont";
  font-size: 70px;
  text-align: center;
  margin-top: 0%;
  margin-left: auto;
  margin-right: auto;
  color: #ec4d3d;
  line-height: 125%;
}
.rbelems{
  font-size: 40px;
}
.subGoalNum{
  font-family: "APJapanesefont";
  font-size: 50px;
  text-align: center;
  margin-top: 0%;
  margin-left: auto;
  margin-right: auto;
  color: #757a7d;
  line-height: 10%;
}
/*input欄*/
.formRegister{
  color: #757a7d;
  width: 90%;
  height: 90px;
  font-family: "APJapanesefont";
  font-size: 50px;
  border-radius: 30px;
  border-color: #757a7d;
  border-style: dashed;
  border-width: 5px 5px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.numRegister{
  color: #757a7d;
  width: 90%;
  height: 90px;
  font-family: "APJapanesefont";
  font-size: 50px;
  border-radius: 30px;
  border-color: #757a7d;
  border-style: dashed;
  border-width: 5px 5px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
/*input欄終わり*/
.goalForms{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.numForms{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
::placeholder{
  font-family: "APJapanesefont";
  text-align: center;
  color: #b5b4ac;
}
.preWords{
  height: 125px;
  font-family: "APJapanesefont";
  font-size: 40px;
  color: white;
  margin-top: 5%;
  background-color: #35af5f;
  border-style: solid;
  border-color: #35af5f;
  border-radius: 30px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.numFix{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.titleConfirm{
  font-family: "APJapanesefont";
  font-size: 90px;
  width: 125%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  color: #ff96ff;
}
.nonTopList{
  color: #ec4d3d;
  width: 60%;
  font-family: "APJapanesefont";
  font-size: 55px;
  border-radius: 20px;
  text-align: center;
  border-style: dashed;
  border-color: #757a7d;
  border-width: 4px 4px;
  padding: 10px 10px;
  margin-top: 25%;
  margin-left: 10%;
  margin-bottom: 0%;
  line-height: 80%;
}
.bodyConfirm1_1{
  color: #fc9308;
  font-family: "APJapanesefont";
  font-size: 90px;
  margin-top: 0%;
  margin-left: 75%;
  margin-right: 20%;
  margin-bottom: 0%;
  line-height: 0%;
}
.bodyConfirm1_2{
  color: #fc9308;
  font-family: "APJapanesefont";
  font-size: 90px;
  margin-top: 0%;
  margin-left: 85%;
  margin-right: 20%;
  margin-bottom: 0%;
  line-height: 0%;
}
.bodyConfirm1_3{
  color: #fc9308;
  font-family: "APJapanesefont";
  font-size: 90px;
  margin-top: 0%;
  margin-left: 95%;
  margin-right: 20%;
  margin-bottom: 0%;
  line-height: 0%;
}
.bodyConfirm2{
  color: #fc9308;
  font-family: "APJapanesefont";
  font-size: 90px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}
.confirmList1{
  line-height: 0%;
}
.confirmList2{
  line-height: 1250%;
}
.backTop{
  font-family: "APJapanesefont";
  font-size: 90px;
  border-radius: 30px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border-style: dashed;
  border-color: #757a7d;
  border-width: 4px 4px;
  padding: 10px 10px;
  margin-top: 20%;
}
.listContent{
  color: #757a7d;
  font-family: "APJapanesefont";
  font-size: 90px;
  border-radius: 30px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border-style: solid;
  border-color: #b5b4ac;
  border-width: 1px 1px;
  padding: 10px 10px;
}
.listNum{
  color: #4285f4;
  font-family: "APJapanesefont";
  font-size: 90px;
  border-radius: 30px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border-style: solid;
  border-color: #b5b4ac;
  border-width: 1px 1px;
  padding: 10px 10px;
}
.listBack{
  font-family: "APJapanesefont";
  font-size: 90px;
  border-radius: 30px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border-style: dashed;
  border-color: #757a7d;
  border-width: 4px 4px;
  padding: 10px 10px;
  margin-top: 20%;
}