// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  background-color: ivory;
}
/*top*/
.toplist{
  font-family: "APJapanesefont";
  font-size: 30px;
  border-radius: 5px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border-style: dashed;
  border-color: #757a7d;
  border-width: 1px 1px;
  padding: 10px 10px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-top: 15%;
  margin-bottom: 15%;
}

.goal{
  color: #ec4d3d;
}
.record{
  color: #35af5f;
}
.check{
  color: #fc9308;
}
.forParents{
  color: #757a7d;
}
