// Place all the styles related to the records controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.recordTitle{
  color: #fc9308;
  font-family: "APJapanesefont";
  font-size: 125px;
  text-align: center;
  margin-top: 25%;
  margin-left: auto;
  margin-right: auto;
}
.recordNotice{
  color: #ec4d3d;
  font-family: "APJapanesefont";
  font-size: 100px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  line-height: 60%;
}
/*.recordWay{
  color: #35af5f;
  font-family: "APJapanesefont";
  font-size: 30px;
  border-radius: 5px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border-style: dashed;
  border-color: black;
  border-width: 1px 1px;
  padding: 10px 10px;
  margin-top: 35%
;
}
*/
/*きろくするページ*/
.recordPageTitle{
  font-family: "APJapanesefont";
  font-size: 120px;
  text-align: center;
  margin-top: 30%;
  margin-left: auto;
  margin-right: auto;
  color: #fc9308;
}
.subRecordTit{
  font-family: "APJapanesefont";
  font-size: 80px;
  text-align: center;
  margin-top: 0%;
  margin-left: auto;
  margin-right: auto;
  color: #ec4d3d;
}
.subRecordNum{
  font-family: "APJapanesefont";
  font-size: 60px;
  text-align: center;
  margin-top: 0%;
  margin-left: auto;
  margin-right: auto;
  color: #757a7d;
  line-height: 10%;
}
.inpNumPage{
  width: 80%;
  height: 125px;
  font-family: "APJapanesefont";
  font-size: 80px;
  border-radius: 30px;
  border-color: #757a7d;
  border-style: dashed;
  border-width: 4px 4px;
  text-align: center;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
}
.pageConfirm{
  font-family: "APJapanesefont";
  font-size: 80px;
  width: 20%;
  color: white;
  margin-top: 10%;
  background-color: #35af5f;
  border-style: solid;
  border-color: #35af5f;
  border-radius: 15px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.numPage{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.numPageFix{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.wellTitle{
  color: #ff96ff;
  font-family: "APJapanesefont";
  font-size: 125px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40%;
}
.wellBack{
  color: #35af5f;
  font-family: "APJapanesefont";
  font-size: 125px;
  border-radius: 30px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border-style: dashed;
  border-color: #757a7d;
  border-width: 4px 4px;
  padding: 10px 10px;
  margin-top: 40%;
}