<head>

</head>
<body>
<h1 class="getTitle">スタンプをもらおう！</h1>
<h1 class="checkTitle">おうちのひとに<br>このがめんをみせてね！</h1>
<h1 class="passNotice">登録時のパスワードを<br>入力して下さい</h1>
<%= form_tag('') do %>
  <div class="checkForms">
    <input name="password" class="inpPass" style="" placeholder="">
    <input class="passConfirm" type="submit" value="確定">
  </div>
<% end %>
<h1 class="passReset">パスワードを忘れた方は<a>こちら</a></h1>
</body>