<head>

</head>
<body>
<div class="">
  <h1 class="getStamp">１にちのもくひょうが<br>おわったら<br>スタンプをもらおう！</h1>
</div>
<div class="passStamp">
  <%= link_to"スタンプをもらう", {:controller => 'check', :action => 'checkpass'}, {:style => "color: #35af5f;"} %>
</div>
</body>
