<head>

</head>
<body>
<h1 class="confirmTitle">下のボタンから<br>勉強進度，勉強内容を確認後<br>スタンプを押して下さい</h1>
<div class="confirmGo">
  <%= link_to"確認", {:controller => 'check', :action => 'progresscontent'}, {:style => "color: #757a7d;"} %>
</div>
</body>