<body>
<div class="contents">
  <div class="block1">
    <div class="square1">
      <div class="redcircle1 disappearstamp">
      </div>
    </div>
  </div>
</div>
<h1 class="stampNotion">マス目をタッチして下さい</h1>
<h1 class="stampConfirm">お子様とスタンプを確認して下さい</h1>
<div class="goTop">
  <%= link_to"ホームに戻る", {:controller => 'check', :action => 'gohome'}, {:style => "color: #35af5f;"} %>
</div>
</body>