<head>

</head>
<body>
<h1 class="titleConfirm">とうろくできました！</h1>
  <div>
    <h1 class="nonTopList">もくひょうをきめる</h1>
    <div class="confirmList1">
      <h1 class="bodyConfirm1_1">か</h1><br>
      <h1 class="bodyConfirm1_2">ら</h1><br>
      <h1 class="bodyConfirm1_3">、</h1><br>
    </div>
    <div class="confirmList2">
      <h1 class="bodyConfirm2">もくひょうをいつでも<br>たしかめられるよ</h1>
    </div>
  </div>
  <!--<a href="/top">
    <h1 class="backTop">ホームにもどる</h1>
  </a>-->
  <div class="backTop">
    <%= link_to"ホームにもどる", {:controller => 'home', :action => 'top'}, {:style => "color: #35af5f;"} %>
  </div>
</body>