<div class="imagelist">
  <img src="/back.png" class="useimage">
  <img src="/use3.png" class="usecomment3">
</div>
<div class="exalist">
  <%= link_to"つぎへ", {:controller => 'example', :action => 'useimage'}, {:style => "color: #ffffff;"} %>
</div>