<div class="imagelist">
  <img src="/back.png" class="useimage">
  <img src="/useuse2.png" class="usecomment2">
</div>
<div class="exalist">
  <%= link_to"つぎへ", {:controller => 'example', :action => 'checkimage'}, {:style => "color: #ffffff;"} %>
</div>