<div class="imagelist">
  <img src="/back.png" class="useimage">
  <img src="/use4.png" class="usecomment4">
</div>
<div class="exabacklist">
  <%= link_to"ホームにもどる", {:controller => 'example', :action => 'exaBack'}, {:style => "color: #ffffff;"} %>
</div>